In [7]:
import os
import pandas as pd

In [68]:
os.getcwd()

'c:\\Users\\Mert\\OneDrive\\Desktop\\Courses\\Stat and Data Science'

In [71]:
import os
import pandas as pd

# Specify the path to the main directory
directory = r'C:\Users\Mert\OneDrive\Desktop\Courses\Stat and Data Science\Data'

# Dictionary to store dataframes from each folder
data_dict = {}

# Loop through the directory to find all Excel files and store the data
for root, dirs, files in os.walk(directory):
    for folder in dirs:
        folder_path = os.path.join(root, folder)
        data_dict[folder] = []  # Initialize list for this folder
        
        # Loop through the files in the folder
        for file in os.listdir(folder_path):
            if file.endswith('.xlsx'):
                file_path = os.path.join(folder_path, file)
                print(f"Reading file: {file_path}")
                
                # Read the Excel file into a DataFrame
                df = pd.read_excel(file_path)
                
                # Append the dataframe to the folder's list
                data_dict[folder].append(df)

# Now 'data_dict' contains all the dataframes grouped by folder

# Example: Access data from a specific folder
for folder, dataframes in data_dict.items():
    print(f"Folder: {folder}")
    for i, df in enumerate(dataframes):
        print(f"DataFrame {i+1} in folder {folder}:")
        print(df.head())  # Show first few rows of the dataframe

Reading file: C:\Users\Mert\OneDrive\Desktop\Courses\Stat and Data Science\Data\CPI 2021 Full Data Set\CPI2021_GlobalResults&Trends.xlsx
Reading file: C:\Users\Mert\OneDrive\Desktop\Courses\Stat and Data Science\Data\CPI 2021 Full Data Set\CPI2021_RegionalTables.xlsx
Folder: CPI 2021 Full Data Set
DataFrame 1 in folder CPI 2021 Full Data Set:
  Corruption Perceptions Index 2021: Global scores Unnamed: 1 Unnamed: 2  \
0                                              NaN        NaN        NaN
1                              Country / Territory       ISO3     Region
2                                          Denmark        DNK      WE/EU
3                                          Finland        FIN      WE/EU
4                                      New Zealand        NZL         AP

       Unnamed: 3 Unnamed: 4      Unnamed: 5         Unnamed: 6 Unnamed: 7  \
0             NaN        NaN             NaN                NaN        NaN
1  CPI score 2021       Rank  Standard error  Number of sources   Lower CI
2              88          1        1.850507                  8   84.95592
3              88          1         1.24828                  8   85.94658
4              88          1        1.427644                  8   85.65153

  Unnamed: 8                     Unnamed: 9  ...  \
0        NaN                            NaN  ...
1   Upper CI  African Development Bank CPIA  ...
2   91.04408                            NaN  ...
3   90.05342                            NaN  ...
4   90.34847                            NaN  ...

                                   Unnamed: 12  \
0                                          NaN
1  Economist Intelligence Unit Country Ratings
2                                           90
3                                           90
4                                           90

                        Unnamed: 13                           Unnamed: 14  \
0                               NaN                                   NaN
1  Freedom House Nations in Transit  Global Insights Country Risk Ratings
2                               NaN                                    83
3                               NaN                                    83
4                               NaN                                    83

                          Unnamed: 15           Unnamed: 16  \
0                                 NaN                   NaN
1  IMD World Competitiveness Yearbook  PERC Asia Risk Guide
2                                  93                   NaN
3                                  94                   NaN
4                                  91                   NaN

                            Unnamed: 17                     Unnamed: 18  \
0                                   NaN                             NaN
1  PRS International Country Risk Guide  Varieties of Democracy Project
2                                   100                              79
3                                    93                              77
4                                    93                              78

       Unnamed: 19               Unnamed: 20  \
0              NaN                       NaN
1  World Bank CPIA  World Economic Forum EOS
2              NaN                        78
3              NaN                        91
4              NaN                        85

                               Unnamed: 21
0                                      NaN
1  World Justice Project Rule of Law Index
2                                       87
3                                       87
4                                       83

[5 rows x 22 columns]
DataFrame 2 in folder CPI 2021 Full Data Set:
  Corruption Perceptions Index 2021: Global scores Unnamed: 1 Unnamed: 2  \
0                                              NaN        NaN        NaN
1                              Country / Territory       ISO3     Region
2                                          Denmark        DNK      WE/EU
3                                          Finland        FIN      WE/EU
4                                      New Zealand        NZL         AP

       Unnamed: 3 Unnamed: 4      Unnamed: 5         Unnamed: 6 Unnamed: 7  \
0             NaN        NaN             NaN                NaN        NaN
1  CPI score 2021       Rank  Standard error  Number of sources   Lower CI
2              88          1        1.850507                  8   84.95592
3              88          1         1.24828                  8   85.94658
4              88          1        1.427644                  8   85.65153

  Unnamed: 8                     Unnamed: 9  ...  \
0        NaN                            NaN  ...
1   Upper CI  African Development Bank CPIA  ...
2   91.04408                            NaN  ...
3   90.05342                            NaN  ...
4   90.34847                            NaN  ...

                                   Unnamed: 12  \
0                                          NaN
1  Economist Intelligence Unit Country Ratings
2                                           90
3                                           90
4                                           90

                        Unnamed: 13                           Unnamed: 14  \
0                               NaN                                   NaN
1  Freedom House Nations in Transit  Global Insights Country Risk Ratings
2                               NaN                                    83
3                               NaN                                    83
4                               NaN                                    83

                          Unnamed: 15           Unnamed: 16  \
0                                 NaN                   NaN
1  IMD World Competitiveness Yearbook  PERC Asia Risk Guide
2                                  93                   NaN
3                                  94                   NaN
4                                  91                   NaN

                            Unnamed: 17                     Unnamed: 18  \
0                                   NaN                             NaN
1  PRS International Country Risk Guide  Varieties of Democracy Project
2                                   100                              79
3                                    93                              77
4                                    93                              78

       Unnamed: 19               Unnamed: 20  \
0              NaN                       NaN
1  World Bank CPIA  World Economic Forum EOS
2              NaN                        78
3              NaN                        91
4              NaN                        85

                               Unnamed: 21
0                                      NaN
1  World Justice Project Rule of Law Index
2                                       87
3                                       87
4                                       83

[5 rows x 22 columns]

In [74]:
data_dict.keys()

dict_keys(['CPI 2021 Full Data Set'])

In [65]:
# Define the directory path containing Excel files
directory_path = os.getcwd() + 

# Initialize an empty list to store the dataframes
excel_files_data = []

# Iterate through all files in the directory
for filename in os.listdir(directory_path):
    print(filename)
    if filename.endswith(".xlsx"):
        # Construct the full file path
        file_path = os.path.join(directory_path, filename)
        
        try:
            # Read only the "Data" sheet from the Excel file and store it in a DataFrame
            df = pd.read_excel(file_path, sheet_name="Data")
            
            # Append the DataFrame to the list
            excel_files_data.append(df)
        
        except ValueError:
            # If the "Data" sheet doesn't exist, skip the file
            print(f"The sheet 'Data' was not found in {filename}, skipping this file.")

# Now excel_files_data contains all the DataFrames from the "Data" sheets of each Excel file

a.xlsx
The sheet 'Data' was not found in a.xlsx, skipping this file.
Adj_Agri_Data.xlsx
The sheet 'Data' was not found in Adj_Agri_Data.xlsx, skipping this file.
Agricultural.xlsx
analysis.ipynb
CPI 2021 Full Data Set
Deforest.xlsx

In [67]:
directory = r"C:\Users\Mert\OneDrive\Desktop\Courses\Stat and Data Science\CPI 2021 Full Data Set"
# Loop through files in the directory and find the file containing "RegionalTables"
for filename in os.listdir(directory):
    if 'RegionalTables' in filename and filename.endswith('.xlsx'):
        file_path = os.path.join(directory_path, filename)
        # Load the Excel file
        df = pd.read_excel(file_path)
        print(f"Data extracted from {filename}:")
        print(df.head())  # Display first few rows of the data
        break

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Mert\\OneDrive\\Desktop\\Courses\\Stat and Data Science\\CPI2021_RegionalTables.xlsx'

In [55]:
#Preliminary cleaning
agri_data = excel_files_data[0]
agri_data.columns = agri_data.iloc[2]
agri_data = agri_data.iloc[3:]
agri_data = agri_data.drop(["Indicator Code"], axis = 1)
agri_data["Country Name"] = agri_data["Country Name"] + " " + agri_data["Country Code"]
agri_data.reset_index(drop = True, inplace = True)
agri_data.head()

#Dropping some of the columns for clearer structure
df_cleaned = agri_data.drop(columns=['Country Code', 'Indicator Name'])

# Reshape the data using the melt function to create a long format
df_long = df_cleaned.melt(id_vars=['Country Name'], var_name='Year', value_name='Values')

# Convert 'Year' column to numeric if necessary (remove '.0' from the years)
df_long['Year'] = pd.to_numeric(df_long['Year'], errors='coerce')

#Adding the country code
df_long["Country Code"] = df_long["Country Name"].apply(lambda val:val.split(" ")[-1])
df_long["Country Name"] = df_long["Country Name"].apply(lambda val: " ".join(val.split(" ")[:-1]))


#Ordering the columns
df_long = df_long[["Country Name","Country Code","Year","Values"]]


# Display the resulting DataFrame
df_long.to_excel("Adj_Agri_Data.xlsx")

In [56]:
df_long.head()

                  Country Name Country Code    Year  Values
0                        Aruba          ABW  1960.0     NaN
1  Africa Eastern and Southern          AFE  1960.0     NaN
2                  Afghanistan          AFG  1960.0     NaN
3   Africa Western and Central          AFW  1960.0     NaN
4                       Angola          AGO  1960.0     NaN

In [14]:
#Dealing with missing values
df_long.isna().sum()

Country Name       0
Year               0
Values          2310
dtype: int64

      Country Name    Year     Values
37     Switzerland  1960.0        NaN
303    Switzerland  1961.0  43.925825
569    Switzerland  1962.0  43.852459
835    Switzerland  1963.0  43.493220
1101   Switzerland  1964.0  43.270593
...            ...     ...        ...
15731  Switzerland  2019.0  38.105034
15997  Switzerland  2020.0  38.027106
16263  Switzerland  2021.0  37.949692
16529  Switzerland  2022.0        NaN
16795  Switzerland  2023.0        NaN

[64 rows x 3 columns]

In [63]:
#Number of data points per each country
len_country = len(df_long[df_long["Country Name"] == "Switzerland"])

# Count the number of NaN values for each country
nan_count_per_country = df_long.groupby('Country Name').apply(lambda x: x.isna().sum())
nan_count_per_country["Values"] = nan_count_per_country["Values"]/len_country

# Display the result
nan_percentage = nan_count_per_country["Values"]

#If more than %50 percent of a country data is missing discard them 
nan_percentage[nan_percentage > 0.50]

C:\Users\Mert\AppData\Local\Temp\ipykernel_14168\1895528795.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nan_count_per_country = df_long.groupby('Country Name').apply(lambda x: x.isna().sum())

Country Name
Armenia                      0.531250
Azerbaijan                   0.531250
Belarus                      0.531250
Belgium                      0.656250
Bosnia and Herzegovina       0.531250
Croatia                      0.531250
Curacao                      1.000000
Czechia                      0.546875
Eritrea                      0.546875
Estonia                      0.531250
Georgia                      0.531250
Gibraltar                    1.000000
Kazakhstan                   0.531250
Kosovo                       1.000000
Kyrgyz Republic              0.531250
Latvia                       0.531250
Lithuania                    0.531250
Luxembourg                   0.656250
Macao SAR, China             1.000000
Marshall Islands             0.515625
Micronesia, Fed. Sts.        0.515625
Moldova                      0.531250
Monaco                       1.000000
Montenegro                   0.750000
North Macedonia              0.531250
Northern Mariana Islands     0.515625
Not classified               1.000000
Palau                        0.515625
Russian Federation           0.531250
Serbia                       0.750000
Sint Maarten (Dutch part)    1.000000
Slovak Republic              0.546875
Slovenia                     0.531250
South Sudan                  0.843750
St. Martin (French part)     1.000000
Tajikistan                   0.531250
Turkmenistan                 0.531250
Ukraine                      0.531250
Uzbekistan                   0.531250
Name: Values, dtype: float64

In [42]:
df_long[df_long["Country Name"] == "Switzerland"]

Empty DataFrame
Columns: [Country Name, Year, Values]
Index: []

In [13]:
df_long[df_long["Country Name"] == "Indonesia"].dropna()

      Country Name    Year     Values
372      Indonesia  1961.0  21.307485
638      Indonesia  1962.0  21.307485
904      Indonesia  1963.0  21.279884
1170     Indonesia  1964.0  21.279884
1436     Indonesia  1965.0  21.252284
...            ...     ...        ...
15268    Indonesia  2017.0  33.714705
15534    Indonesia  2018.0  34.034276
15800    Indonesia  2019.0  34.140800
16066    Indonesia  2020.0  34.247323
16332    Indonesia  2021.0  34.133742

[61 rows x 3 columns]

# New Analysis

### **Research Question**: What is the effect of agricultural land expansion rate of corn fields on deforestation rate of countries?

## Econometric Model

### 1. First Stage Regression (Predicting X)

$$
X_{it} = \alpha_0 + \alpha_1 (\text{Corn Price}_t \times \text{Trade Openness}_{it}) + \alpha_2 Z_{it} + \mu_i + \lambda_t + \epsilon_{it}
$$


- **X<sub>it</sub>**: Land expansion rate of corn fields in country *i* at time *t*.
- **Corn Price<sub>t**: International corn price at time *t*.
- **Trade Openness<sub>it**: Trade openness of country *i* at time *t*.
- **Z<sub>it</sub>**: Vector of control variables.
- **μ<sub>i</sub>**: Country fixed effects.
- **λ<sub>t</sub>**: Time fixed effects.
- **ε<sub>it</sub>**: Error term.

$$
\text{Corn Price}_t \times \text{Trade Openness}_{it} 
$$


is the <u>**instrumental variable**</u> where 

$$
\text{Corn Trade Openness (\%)} = \left( \frac{\text{Corn Exports Quantity} + \text{Corn Imports Quantity}}{\text{Domestic Corn Production Quantity}} \right) \times 100
$$

### 2. Second Stage Regression (Estimating the Effect on Y)

$$
Y_{it} = \beta_0 + \beta_1 \hat{X}_{it} + \beta_2 Z_{it} + \mu_i + \lambda_t + \nu_{it}
$$

- **Y<sub>it</sub>**: Deforestation rate in country *i* at time *t*.
- **X̂<sub>it</sub>**: Predicted land expansion rate from the first stage regression.
- **Z<sub>it</sub>**: Vector of control variables.
- **μ<sub>i</sub>**: Country fixed effects.
- **λ<sub>t</sub>**: Time fixed effects.
- **ν<sub>it</sub>**: Error term.


<div style="text-align: center;">
    <img src="./img.png" alt="Instrumental Variable Diagram" />
</div>

### **My note**
(**Corn Price<sub>t** *  **Trade Openness<sub>it**) is a nice variable to have control over as we want to see the real effect of (**corn field expansion rate /coverage**) on (**forest land coverage / deforestation rate**). By controling the variable, we don't observe the effect of corn price fluctuations on corn field expansion decisions, we almost see the pure effect of corn field expansion on deforestation.

### **Potential concerns**
**Q**: When calculating the trade openess,we can consider **value** instead of **quantity**?

In [ ]:
#Libraries
import pandas as pd
import os
import csv

In [87]:
path = os.path.join(os.getcwd(), "Data", "CORN.csv")

In [40]:
pd.read_csv('./Data/FAOSTAT_data_en_10-2-2024.csv')

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1961,1961,ha,500000,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1962,1962,ha,500000,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1963,1963,ha,500000,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1964,1964,ha,505000,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1965,1965,ha,500000,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9544,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2018,2018,ha,1155075,A,Official figure,NaN
9545,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2019,2019,ha,991354,A,Official figure,NaN
9546,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2020,2020,ha,1018884,A,Official figure,NaN
9547,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2021,2021,ha,957793,A,Official figure,NaN
9548,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2022,2022,ha,1000000,E,Estimated value,NaN

In [50]:

def fix_mismatched_fields_with_semicolon(file_path, expected_fields):
    cleaned_data = []
    
    # Open the file and process each row manually
    with open(file_path, 'r', encoding='ISO-8859-1') as file:
        reader = csv.reader(file, delimiter=';', quotechar='"', skipinitialspace=True)
        
        for row in reader:
            if len(row) > expected_fields:
                # Trim the row to the expected number of fields
                cleaned_data.append(row[:expected_fields])
            elif len(row) < expected_fields:
                # Pad the row with None values to match the expected number of fields
                cleaned_data.append(row + [None] * (expected_fields - len(row)))
            else:
                # If the row has the expected number of fields, add it as is
                cleaned_data.append(row)

    # Convert cleaned data back into a pandas DataFrame
    aligned_data = pd.DataFrame(cleaned_data[1:], columns=cleaned_data[0])  # Use the first row as headers
    return aligned_data

# Adjust the expected fields count based on the semicolon-separated structure
fixed_data_semicolon = fix_mismatched_fields_with_semicolon(file_path = './Data/ex_imp.csv', expected_fields = 15)

In [53]:
fixed_data_semicolon.head()

,ï»¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,None
0,TCL,Crops and livestock products,4,Afghanistan,5610,Import Quantity,112,Maize (corn),1961,1961,t,0,A,Official figure,None
1,TCL,Crops and livestock products,4,Afghanistan,5610,Import Quantity,112,Maize (corn),1962,1962,t,0,A,Official figure,None
2,TCL,Crops and livestock products,4,Afghanistan,5610,Import Quantity,112,Maize (corn),1963,1963,t,0,A,Official figure,None
3,TCL,Crops and livestock products,4,Afghanistan,5610,Import Quantity,112,Maize (corn),1964,1964,t,0,A,Official figure,None
4,TCL,Crops and livestock products,4,Afghanistan,5610,Import Quantity,112,Maize (corn),1965,1965,t,0,A,Official figure,None

In [52]:
fixed_data_semicolon["Item Code (CPC)"].unique()

array(['112'], dtype=object)

In [82]:
fixed_data_semicolon[(fixed_data_semicolon["Area"] == "Switzerland") & (fixed_data_semicolon["Element"] == "Import Quantity") & (fixed_data_semicolon["Year"] == "2009")]

,ï»¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,None
16716,TCL,Crops and livestock products,756,Switzerland,5610,Import Quantity,112,Maize (corn),2009,2009,t,67465,A,Official figure,None

In [83]:
fixed_data_semicolon[(fixed_data_semicolon["Area"] == "Switzerland") & (fixed_data_semicolon["Element"] == "Export Quantity") & (fixed_data_semicolon["Year"] == "2009")]

,ï»¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,None
16717,TCL,Crops and livestock products,756,Switzerland,5910,Export Quantity,112,Maize (corn),2009,2009,t,96,A,Official figure,None

In [84]:
fixed_data_semicolon[(fixed_data_semicolon["Area"] == "Switzerland") & (fixed_data_semicolon["Element"] == "Import Quantity") & (fixed_data_semicolon["Year"] == "1995")]

,ï»¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,None
16688,TCL,Crops and livestock products,756,Switzerland,5610,Import Quantity,112,Maize (corn),1995,1995,t,30498,A,Official figure,None

In [85]:
fixed_data_semicolon[(fixed_data_semicolon["Area"] == "Switzerland") & (fixed_data_semicolon["Element"] == "Export Quantity") & (fixed_data_semicolon["Year"] == "1995")]

,ï»¿Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,None
16689,TCL,Crops and livestock products,756,Switzerland,5910,Export Quantity,112,Maize (corn),1995,1995,t,24,A,Official figure,None

In [77]:
domestic_prod = pd.read_csv('./Data/domestic_prod.csv')
domestic_prod.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1961,1961,t,700000.0,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1962,1962,t,700000.0,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1963,1963,t,713000.0,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1964,1964,t,720000.0,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1965,1965,t,720000.0,A,Official figure,NaN

In [78]:
domestic_prod["Element"].unique()

array(['Production'], dtype=object)

In [86]:
domestic_prod[(domestic_prod["Area"] == "Switzerland") & (domestic_prod["Year"] == 1995)]

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
8301,QCL,Crops and livestock products,756,Switzerland,5510,Production,112,Maize (corn),1995,1995,t,218132.0,A,Official figure,NaN

In [ ]:
#For Switzerland